@import '../../Assets/Color/color';
.ant-layout-header.header {
  background-color: $white-color;
  line-height: 100px;
  height: auto;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-bar {
    font-size: 1.6rem;
    border-bottom: none;
  }
  .header__extra {
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    gap: 2.9rem;
    a {
      color: $black-color;
    }
  }
}
