@import '../../Assets/Color/color';
.footer {
  padding: 5rem 0px 8rem 0;
  &.ant-layout-footer {
    background-color: $white-color;
  }
  .container {
    display: flex;
    justify-content: space-between;
  }
  &__title-group {
    display: flex;
    gap: 2rem;
  }
  &__title {
    font-weight: 500;
  }

  &__title-group + &__desc,
  &__desc + .copy-right {
    margin-top: 3rem;
    display: block;
    color: $gray-color;
  }

  .socials {
    display: flex;
    list-style: none;
    gap: 1.8rem;
  }
}
