@import '../../Assets/Color/color';
.testimonial {
  text-align: center;
  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;
  }
  &__item {
    color: $gray-color;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      color: $black-color;
    }
  }
  &__header.ant-typography,
  &__sub-header.ant-typography {
    display: block;
    color: inherit;
  }
  &__img + &__header {
    margin-top: 2.5rem;
  }

  &__header + &__sub-header {
    margin-top: 2.1rem;
  }
  &__item + &__item {
    margin-top: 5.4rem;
  }
}
