@import '../../Assets/Color/color';

.about-us {
  background-color: $blue-color;
  .container {
    display: flex;
    gap: 20rem;
  }
  &__title.ant-typography {
    color: $white-color !important;
    font-size: 4.8rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    line-height: 6rem;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
  &__desc {
    color: $white-color;
  }
}
